.blog-page {
    background-color: #e9f3ff;
    height: 100%;
}

.blog-list {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

.see-all{
    flex-basis: 210px;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #287c78;
}

.see-all-p {
    font-size: 20px;
    color: white;
}

.see-all-link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px solid white;
}