form {
    background-color: #dfddff;
    padding: 30px;
    width: 400px;
}

.form-item {
    margin-bottom: 20px;
}

.welcome {
    font-size: 30px;
    color: darkslategrey;
}

.form-header {
    margin-bottom: 10px;
}