nav {
    background-color: #287c78;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.nav-list{
    display: flex;
    width: 250px;
    justify-content: space-between;
}

li {
    list-style: none;
    color: #F2F2F2;
    font-size: 20px;
}

.blogspot {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Andika New Basic', sans-serif;
}

.link {
    text-decoration: none;
    color: white;
    font-family: 'Andika New Basic', sans-serif;
}

.active-link {
    border-bottom: white solid 3px;
    padding-bottom: 1px;
}

.active-link:hover {
    border-bottom:  #413b97 solid 3px;
    padding-bottom: 1px;
}

.link:hover {
    color: #413b97;
}
